html {
padding: 0;
margin: 0;
border: 0;
background-color: black;
}

body{
    width: 100%;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
}

h1{
    color: rgb(218, 215, 215);
    text-align: center;
    font-size: xxx-large;
    word-wrap: normal;
    width: 100%;
}

.statement{
    width: 100%;
}

@media all and (max-width: 400px){
    img{
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    }

    h1{
        border-radius: 4%;
        color: rgb(205, 14, 14);
        text-align: center;
        font-size: x-large;
        width: 100%;
    }
}
    